<a href="https://colab.research.google.com/github/HEMIKA-310/Python-practice/blob/Module-2/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#writing a list
fruit=["apple", "orange","watermelon", "mango", "grapes"]
print(fruit[0])
print(fruit)

apple
['apple', 'orange', 'watermelon', 'mango', 'grapes']

In [ ]:
#list slicing
fruit=["apple", "orange","watermelon", "mango", "grapes"]
print(fruit[:3])
print(fruit[3:])
print(fruit[:])
print(list[0:3])
print(list[0:])
print(list[:0])
print(list[0:0])
print(list[0:2])
print(fruit[1:4])
print(fruit[1:5])
'orange'in fruit

['apple', 'orange', 'watermelon']
['mango', 'grapes']
['apple', 'orange', 'watermelon', 'mango', 'grapes']
[2, ['a'], [1, 2.5, 0.2]]
[2, ['a'], [1, 2.5, 0.2]]
[]
[]
[2, ['a']]
['orange', 'watermelon', 'mango']
['orange', 'watermelon', 'mango', 'grapes']

True

In [ ]:
fruit=['apple', 'orange','watermelon', 'mango', 'grapes']
print(fruit[0:2])
#negative indexing
print(fruit[-1])
print(fruit[-5])
print(fruit[4])
print(fruit[3:])
print(fruit[1:3])
#if print keyword is not used only last statement gets printed
#only integers are used for indexing

['apple', 'orange']
grapes
apple
grapes
['mango', 'grapes']
['orange', 'watermelon']

In [ ]:
#list allows all the data types simultaneously
list=[1, "hello", 9.8]
print(list[0:3])
print(list[0:])
print(list[:0])
print(list[0:0])
print(list[0:2])

[1, 'hello', 9.8]
[1, 'hello', 9.8]
[]
[]
[1, 'hello']

In [ ]:
#empty list
list=[ ]
print(list[0:])

[]

In [ ]:
#nested list
list=[2, ["a"], [1,2.5,0.2]]
print(list[2])
print(list[2][0:2])

[1, 2.5, 0.2]
[1, 2.5]

In [ ]:
#add/change list elements (to replace)
set=[1, 2, 3, 4, 5]
set[0]=9
print(set)
set[1:3]=[88,99,100,105]
print(set)
set[:]=[9.0,10] #here elements are added in place of first and second elements
print(set)

[9, 2, 3, 4, 5]
[9, 88, 99, 100, 105, 4, 5]
[9.0, 10]

In [ ]:
#append, insert, extend
# append- added at the end of the list
fruit=["apple", "orange","watermelon", "mango", "grapes"]
fruit.append("Banana")
print(fruit)
#insert- to insert in between the elements
fruit.insert(2,"cherry")
print(fruit)
fruit.insert(-3,"cherry")
print(fruit)
#to extend
fruit.extend([4,5,6])
print(fruit)
#to reverse the elements
fruit.reverse()
print(fruit)

['apple', 'orange', 'watermelon', 'mango', 'grapes', 'Banana']
['apple', 'orange', 'cherry', 'watermelon', 'mango', 'grapes', 'Banana']
['apple', 'orange', 'cherry', 'watermelon', 'cherry', 'mango', 'grapes', 'Banana']
['apple', 'orange', 'cherry', 'watermelon', 'cherry', 'mango', 'grapes', 'Banana', 4, 5, 6]
[6, 5, 4, 'Banana', 'grapes', 'mango', 'cherry', 'watermelon', 'cherry', 'orange', 'apple']

In [ ]:
#concatenate
fruit=["apple", "orange","watermelon", "mango", "grapes"]
print(fruit + [1,2,3])
#to repeat
print(0*fruit)
print(3*fruit)

['apple', 'orange', 'watermelon', 'mango', 'grapes', 1, 2, 3]
[]
['apple', 'orange', 'watermelon', 'mango', 'grapes', 'apple', 'orange', 'watermelon', 'mango', 'grapes', 'apple', 'orange', 'watermelon', 'mango', 'grapes']

In [ ]:
#finding index
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
a=thislist.index("cherry")
print(a)
a=thislist.index("apple")
print(a)

2
0

In [ ]:
#length of list
n=[1,99,77,66,1087,4,10,1]
print(len(n))

8

In [ ]:
#sort ascending order
n=[1,99,77,66,1087,4,10,1]
n.sort()
print(n)

[1, 1, 4, 10, 66, 77, 99, 1087]

In [ ]:
#delete list elements
a=[1, 2, 3, 4, 5, 6, 7]
#del