<a href="https://colab.research.google.com/github/HEMIKA-310/Python-new/blob/Assignment2/m2_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 Create a function which accepts two inputs from the user and compute nCr
def fact(x):
  f=1
  if x==0:
    x=1
  for i in range(1,x+1):
    f=f*i
  return f
n=int(input("n="))
r=int(input('r='))
k=fact(n)
l=fact(r)
m=fact(n-r)
c=k/(l*m)
print('nCr=',c)

n=6
r=1
nCr= 6.0

In [ ]:
#2 Recursive function to compute GCD of 2 numbers
def gcd(x,y):
  if (x==0):
    return y
  elif (y==0):
    return x
  else:
    return(gcd(y,x%y))
a=int(input())
b=int(input())
print(gcd(a,b))

24
36
12

In [ ]:
#3 Recursive function to find product of two numbers

def pdt(n1, n2):
    if(n1 < n2):
        return pdt(n2, n1)
    elif(n2 != 0):
        return(n1 + pdt(n1,n2-1))
    else:
        return 0
n1=int(input("n1: "))
n2=int(input("n2: "))
print(pdt(n1, n2))

n1: 7
n2: 9
63

In [ ]:
#4 Recursive function to generate Fibonacci series
def fibo(n):
   if n <= 1:
       return n
   else:
       return(fibo(n-1) + fibo(n-2))

nterms = int(input("n: "))
if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(fibo(i))

n: 7
Fibonacci sequence:
0
1
1
2
3
5
8

In [ ]:
#5 Program to print a specified list after removing the 0th, 4th and 5th elements. 
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] 
#Expected Output : ['Green', 'White', 'Black']
water=['stream','beach','well','pond','ocean','lake']
water.pop()
water.pop(4)
water.pop(0)
print(water)

['beach', 'well', 'pond']

In [ ]:
#6 Program to get the difference between the two lists
list1 = [1, 2, 3, 4]
list2 = [2, 3]
list(set(list1) - set(list2))

[1, 4]

In [ ]:
#7Program to find the second smallest number and second largest number in a list.
num=[2,5,9,3,47,59,93,38,1]
num.sort()
print('second smallest num is',num[1])
print('second largest num is',num[-2])
print(num)

second smallest num is 2
second largest num is 59
[1, 2, 3, 5, 9, 38, 47, 59, 93]

In [ ]:
#8x Given a list of numbers of list, write a Python program to create a list of tuples 
#having first element as the number and second element as the square of the number
list=[2,3,4,5]
result=[(val,pow(val,2)) for val in list] 
print(result)

[(2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
#9 Given list of tuples, remove all the tuples with length K. 
#Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2 
#Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)] 
#Explanation : (4, 5) of len = 2 is removed.
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
  
print("The original list : " + str(test_list))
K = 1
res = [ele for ele in test_list if len(ele) != K]
print("Filtered list : " + str(res))

The original list : [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
Filtered list : [(4, 5), (8, 6, 7), (3, 4, 6, 7)]

In [ ]:
#10 Program to generate and print a dictionary that contains a number (between 1 
#and n) in the form (x, x*x). 
#Sample Input: (n=5) : 
#Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
n=int(input("Input a number "))
d = dict()
for x in range(1,n+1):
    d[x]=x*x
print(d)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#11 Program to remove a key from a dictionary
a_dict = {'John': 32, 'Mel': 31, 'Nik': 33, 'Katie': 32, 'James': 29, 'Matt': 35}
a_dict.pop('John')
print(a_dict)

{'Mel': 31, 'Nik': 33, 'Katie': 32, 'James': 29, 'Matt': 35}

In [ ]:
#12 Program to get the maximum and minimum value in a dict
dict1 ={
    'x':50,
    'y':234,
    'z':4
}
max_val= max(dict1.keys(), key=(lambda k: dict1[k]))
min_val= min(dict1.keys(), key=(lambda k: dict1[k]))

print("Maximum value is : ",dict1[max_val])
print("Minimum value is : ",dict1[min_val])

Maximum value is :  234
Minimum value is :  4

In [ ]:
#15 Program for replacing one substring by another For example - Rabbit - Replace 'bb' by 'cc'
animal='rabbit'
print(animal.replace('bb','cc'))
print(animal)

raccit
rabbit

In [ ]:
#Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings 
#Python function that accepts a string and calculates the number of uppercase letters and lowercase letters.
def count(st):
  c=k=0
  for i in st:
    if i.isupper():
      c=c+1
    elif i.islower():
      k=k+1 
  print('no of upper case letters =',c)   
  print('no of lower case letters =',k)    
count(st=input("enter a string "))

enter a string Hemika
no of upper case letters = 1
no of lower case letters = 5

In [ ]:
#  Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2
 
def match_words(words):
 ctr=0
 for word in words:
    if len(word)>1 and word [0] == word[-1]:
      ctr +=1
 return ctr
print(match_words(['abc', 'xyz', 'aba', '1221']))

2