<a href="https://colab.research.google.com/github/HEMIKA-310/Python-new/blob/Assignment-5/module5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PROGRAMS

In [11]:
#Write a Python program to check that a string contains only a certain set of characters (in this case a-z, A-Z and 0-9).
import re
n="hgesdaghjfb agh21"
# print(re.findall("\w",n))
r=re.findall("[a-zA-Z0-9]",n)
print(r)

['h', 'g', 'e', 's', 'd', 'a', 'g', 'h', 'j', 'f', 'b', 'a', 'g', 'h', '2', '1']

In [12]:
import re
txt = "abdevilliers is a great south african cricketer"
x = re.findall(r"ab*", txt)
print(x)

['ab', 'a', 'a', 'a', 'a']

In [8]:
import re
txt = "abdevilliers is a great south african cricketer"
x = re.findall(r"ab?", txt)
print(x)

['ab', 'a', 'a', 'a', 'a']

In [9]:
import re
txt = "abdevilliers is a great south african cricketer"
x = re.findall(r"ab+", txt)
print(x)

['ab']

In [5]:
#Write a Python program that matches a string that has an a followed by three 'b'
import re
txt = "Anaya found a book in her desk and gave it to abbba and abbb "
x=re.findall(r"abbb",txt)
print(x)

['abbb', 'abbb']

In [4]:
#Write a Python program to find sequences of lowercase letters joined with an underscore
import re
txt = "hahgh_e ndag_in hn ammha_hghg"
x = re.findall("[a-z]_", txt)
print(x)

['h_', 'g_', 'a_']

EXAMPLES

In [13]:
#search function
import re
txt="The rain in Spain"
x=re.search("^The.*Spain$",txt)
if x:
  print("YES, matched")
else:
  print("no")

YES, matched

In [14]:
#findall function
import re
txt="hi welcome"
x=re.findall("e",txt)
print(x)

['e', 'e']

In [15]:
#search function
import re
txt="The Visakhapatnam"
x=re.search("Visakhapatnam",txt)
print(x)

<re.Match object; span=(4, 17), match='Visakhapatnam'>

In [16]:
#split function
import re
txt="The rain in Spain"
x=re.split("\s",txt,1)
print(x)

['The', 'rain in Spain']

In [17]:
#sub function
import re
txt="The rain in Spain"
x=re.sub("\s","9",txt)
print(x)

The9rain9in9Spain