<a href="https://colab.research.google.com/github/HEMIKA-310/Python-practice/blob/Module-2/python_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#sets
'''To store multiple items in a single variable
unordered
unchangeable
unindexed
no duplicates allowed'''
set1={1,2,3}
print(set1)
set2={1,1,1,2,3}
print(set2)
type(set1)

{1, 2, 3}
{1, 2, 3}

set

In [ ]:
# To construct a set
s=set((1,1,1,3,4,2))
print(s)

{1, 2, 3, 4}

In [ ]:
#set data type _can be of any data type simultaneously
s={1,"abc,6+0j"}
print(s)

{1, 'abc,6+0j'}

In [ ]:
#length of set
set1={1,1,1,2,3}
print(len(set1))

3

In [ ]:
#Access items
s1={"1","apple","ball"}

for x in s1:
  print(s1)
  '''prints random as set is unordered 
  prference:char>int'''

print("apple" in s1)

{'apple', 'ball', '1'}
{'apple', 'ball', '1'}
{'apple', 'ball', '1'}
True

In [ ]:
#add set items
'''to add 1 element use .add()'''
set={1,2,3,"apple"}
set.add("chocolate")
print(set)
'''to add elements from one set to another use .update()
you can also add dictionaries,tuplles, lists (add any iterable)to the set'''
s1={1,2,3}
s2={4,5,6}
l=["hemika",]
s1.update(s2)
print(s1)
s2.update(l)
print(s2)

{1, 2, 3, 'apple', 'chocolate'}
{1, 2, 3, 4, 5, 6}
{'hemika', 4, 5, 6}

In [ ]:
#remove set items
'''To remove an item .remove() or .discard()
if items does not exist remove wil raise an error wheras dicard doesn't'''
s1={"a","g","h","s","n",1,2,3}
s1.remove(1)
print(s1)
s1.remove(2)
print(s1)
''' .pop() is used to remove last item
but as set is unordered it removes random item'''
s1.pop()
print(s1)

{2, 's', 3, 'a', 'n', 'g', 'h'}
{'s', 3, 'a', 'n', 'g', 'h'}
{3, 'a', 'n', 'g', 'h'}

In [ ]:
#To delete complete set use del() and to empty use clear()
s1={1,2,3}
s1.clear()
print(s1)
s2={3}
del s2
'''print(s2) gives error as set is deleted'''

set()

'print(s2) gives error as set is deleted'

In [ ]:
#access items using for loop
s1 = {"apple", "banana", "cherry"}

for x in set:
  print(x)

s2 = {"1","apple","ball","x"}

for x in s2:
  print(s2)

cherry
apple
banana
{'apple', 'x', 'ball', '1'}
{'apple', 'x', 'ball', '1'}
{'apple', 'x', 'ball', '1'}
{'apple', 'x', 'ball', '1'}

In [ ]:
#join two sets
'''use .union() [returns a new set] or
 .update() [to inset elements into the set]'''
s1={"a","b","c",1}
s2={"s","g","h",1}
s3=s1.union(s2)
print(s1)
print(s2)
print(s3)
s1.update(s2)
print(s1)

{'b', 1, 'a', 'c'}
{'g', 'h', 's', 1}
{1, 's', 'a', 'g', 'c', 'b', 'h'}
{1, 's', 'a', 'g', 'c', 'b', 'h'}

In [ ]:
''' intersection_update()  to return items
    intersection() to return a new set '''
s1={"a","b","c",1,2,3}
s2={"s","g","h",1,2,3}
s1.intersection_update(s2)
print(s1)
s3=s1.intersection(s2)
print(s3)

{1, 2, 3}
{1, 2, 3}

In [ ]:
#To remove duplicates
s1={"a",1,1,1,2,3}
s2={10,10,10,1,1,1,9.8}
s1.symmetric_difference_update(s2)
'''The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.'''
print(s1)
s3=s1.symmetric_difference(s2)
'''Return a set that contains all items from both sets, except items that are present in both'''
print(s3)

{2, 3, 9.8, 10, 'a'}
{1, 2, 3, 'a'}