<a href="https://colab.research.google.com/github/HEMIKA-310/Python-practice/blob/Module-2/qb_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1write a program to print prime numbers in given range using functions.                                   Range (25,30)
def prime(a,b):
  for i in range(a,b+1):
    k=0
    for j in range(2,i):
      if  i%j==0:
        k+=1
    if k==0:
      print(i)
n1=int(input("Enter lowest number: "))
n2=int(input("Enter greatest number:  "))    
prime(n1,n2)

Enter lowest number: 25
Enter greatest number:  35
29
31

In [ ]:
#2write a program to read any month in integer and display the number of days for that month               1-31
def num(n):
 n=int(input("Enter an integer corresponding to months of the year: "))
 if (n==1 or n==3 or n==5 or n==7 or n==8 or n==10 or n==12):
  print("31 days.")
 elif(n==4 or n==6 or n==9 or n==11):
  print("30 days.")
 elif(n==2):
  print("28 or 29 days.")
 else:
  print("Enter integer from 1 to 12.")
num(n)
num(n)
num(n)

Enter an integer corresponding to months of the year: 7
31 days.
Enter an integer corresponding to months of the year: 6
30 days.
Enter an integer corresponding to months of the year: 2
28 or 29 days.

In [ ]:
#2write a program to read any month in integer and display the number of days for that month              
a=int(input('Enter a number: '))
b=[4,6,9,11]
if a==2:
  print("28")
elif a in b:
  print("30")
elif a>=13 or a<=1:
  print("Not valid")
else:
  print("31")

Enter a number: 7
31

In [ ]:
#3write a python program to print even length words in a string                                            My name iS xyz  My name is
a= input("Enter a string of words: ")
b=a.split()
for x in b:
  if len(x)%2==0:
    print(x ,end=" ")

Enter a string of words: This is a python class
This is python

In [ ]:
#6write a python program to capitalize the first and last letter of each word 
a=input("Enter a string: ")
b=a.split(' ')
s=' '
for i in b:
  x=i.capitalize()
  y=i[-1].capitalize()
  s=x[0:-1]+y
  print(s,end=" ")

Enter a string: my name is xyz
MY NamE IS XyZ

In [ ]:
#4write a program to read a string from user. Display first character of each word with capital letter     hello world  Hello World
a = input("Enter a sentence ")
res=a.title()
print(res)

Enter a sentence my name is hemika
My Name Is Hemika

In [ ]:
#5write a python program to covert a list of multiple integer into single integer
a=eval(input("Enter a list of integers: "))
b=" "
for i in a:
  b += str(i)
print(b)

Enter a list of integers: [11,66,95]
 116695

In [ ]:
#7write a python program to find power of number using recursion and without recursion     n=2 p=3 res=8
#without recursion
import math
base=int(input("Enter base: "))
exp=int(input("Enter exponent: "))
res=pow(base,exp)
print(res)
#recursion
def power(base,exp):
    if(exp==1):
        return(base)
    if(exp!=1):
        return(base*power(base,exp-1))
base=int(input("Enter base: "))
exp=int(input("Enter exponential value: "))
print("Result:",power(base,exp))

Enter base: 2
Enter exponent: 3
8
Enter base: 2
Enter exponential value: 3
Result: 8

In [ ]:
#8write a program to sort tuples by total digits    list=[(3,4,6,723),(1,2),(134,234,34)]  op=[(1,2),(3,4,6,723),(134,234,34)] 
list=[(3,4,6,723),(1,2),(134,234,34)]
list.sort()
print(list)

[(1, 2), (3, 4, 6, 723), (134, 234, 34)]

In [ ]:
#9Take 5 subject marks from the user and display the grade of the student 
'''if avg=90-100 O grade
       80-89  A+
       70-79  A
       60-69  B
       50-59  B+
       40-49  C
       <40    FAIL'''
m1=float(input("Enter subject 1 marks (for 100): "))
m2=float(input("Enter subject 2 marks (for 100): "))
m3=float(input("Enter subject 3 marks (for 100): "))
m4=float(input("Enter subject 4 marks (for 100): "))
m5=float(input("Enter subject 5 marks (for 100): "))
total=(m1+m2+m3+m4+m5)
print(total)
avg=total/5
print(avg)
if avg>=90 and avg<=100:
  print("O Grade")
elif avg>=80 and avg<=89:
  print("A+ Grade")
elif avg>=70 and avg<=79:
  print("A Grade")
elif avg>=60 and avg<=69:
  print("B Grade")
elif avg>=50 and avg<=59:
  print("B+ Grade")
elif avg>=40 and avg<=49:
  print("C Grade")
elif avg<40:
  print("F-Fail")

Enter subject 1 marks (for 100): 89
Enter subject 2 marks (for 100): 90
Enter subject 3 marks (for 100): 92
Enter subject 4 marks (for 100): 95
Enter subject 5 marks (for 100): 99
465.0
93.0
O Grade

In [ ]:
#10 write a python program that prints 1 if all the three given numbers are in ascending order else print 0
n1=int(input("enter n1: "))
n2=int(input("enter n2: "))
n3=int(input("enter n3: "))
if n1<n2<n3:
  print("1")
else:
  print("0")

In [ ]:
#11 Check given number is perfect number or not                                  6,28
def perfect(n):                                                            
 num=int(input("Enter a number : "))
 n1=num
 sum=0
 for i in range (1,num):
   if num%i==0:
     sum=sum+i
 if sum==n1:
    print("yes")
 else :
    print("no")
perfect(num)
perfect(num)

Enter a number : 28
yes
Enter a number : 3
no

In [ ]:
#12 Check whether input is prime
num = int(input("Enter a number: "))
if num > 1:
   for i in range(2,num):
       if (num % i) == 0:
           print("not a prime number")
           break
   else:
       print("prime number")
else:
   print(num,"is not a prime number")

Enter a number: 7
prime number

In [ ]:
#13 check given string is palindrome or not
def isPalindrome(s):
	return s == s[::-1]
s = input("Enter a string ")
ans = isPalindrome(s)
if ans:
	print("Yes")
else:
	print("No")

Enter a string abcba
Yes

In [ ]:
#14 find ncr
def fact(x):
  f=1
  if x==0:
    x=1
  for i in range(1,x+1):
    f=f*i
  return f
n=int(input("n="))
r=int(input('r='))
k=fact(n)
l=fact(r)
m=fact(n-r)
c=k/(l*m)
print('nCr=',c)

n=5
r=2
nCr= 10.0

In [ ]:
#15 find gcd of two numbers with and without recursion     
#with recursion
def gcd(x,y):
  if (x==0):
    return y
  elif (y==0):
    return x
  else:
    return(gcd(y,x%y))
a=int(input())
b=int(input())
print(gcd(a,b)) 
#without recursion
n1=int(input("Enter num1: "))
n2=int(input("Enter num2: "))
if (n1>n2):
  small = n2
else:
  small = n1
for i in range(1, small+1):
    if((n1 % i == 0) and (n2 % i == 0)):
     result = i
print(result)

21
56
7
Enter num1: 21
Enter num2: 56
7

In [ ]:
#16 print sum of even digits in a given number                                                                          1243=>6
n=int(input("Enter number: "))
sum=0
while(n>0):
  rem=n%10
  if(rem%2==0):
    sum=sum+rem
  n=n//10
print(sum)

Enter number: 1825
10

In [ ]:
#17 calculate the product of the digits of a number
n=int(input("Enter number: "))
pdt=1
while(n>0):
  r=n%10
  pdt=pdt*r
  n=n//10
print(pdt)

Enter number: 1825
80

In [ ]:
#18 to calculate the sum of squares of digits in a number given by user          123=>14
import math
n= int(input("Enter number: "))
res=0
while(n>0):
  r=n%10
  res=res+pow(r,2)
  n=n//10
print(res)

Enter number: 123
14

In [ ]:
#19 given a string s='abcdefcba'. How many times ith character from front equals to ith character from back               res=3
#print(CountFrontBackMatches)=3

In [ ]:
#20 given an integer n,return a lit containing 1223334444.... and finaly n repeated n times. you may asssume n>=0
#print(RepeatNumTimes(4))=[1,2,2,3,3,3,4,4,4,4]
n = int(input("Enter number: "))

for i in range(1,n+1):
    for j in range(1, i+1):
        print(i,end=",")

Enter number: 9
1,2,2,3,3,3,4,4,4,4,5,5,5,5,5,6,6,6,6,6,6,7,7,7,7,7,7,7,8,8,8,8,8,8,8,8,9,9,9,9,9,9,9,9,9,

In [ ]:
#21 print number of vowels and consonants in a given string    Gitam University 6,10
word=input("Enter a string: ")
v=0
c=0
for i in word :
  if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U': 
   v=v+1
  else:
   c=c+1
print(v)
print(c)

Enter a string: Gitam University
6
10

In [ ]:
#22 given 2 integers A and B . If A<B, print all numbers from A to B in ascending order else(A>=B) in descending order
A=int(input("Enter A: "))
B=int(input("Enter B: "))
if A<B:
  for i in range(A,B+1):
    print(i)
else:
  for i in range(A,B-1,-1):
    print(i)

Enter A: 7
Enter B: 3
7
6
5
4
3

In [ ]:
#23 Program to print biggest value among 3 numbers.
n1=int(input("Enter num1: "))
n2=int(input("Enter num2: "))
n3=int(input("Enter num3: "))
if n1>=n2 and n1>=n3:
  print(n1)
elif n2>=n1 and n2>=n3:
  print(n2)
else:
  print(n3)

Enter num1: 1
Enter num2: 1
Enter num3: 9
9

In [ ]:
#24 To count the number of strings where the string length is 2 or more and find the first and last characters are same 
#from a given list of string 
#print(res)=>['aba','abc','1221',"aha"]=3
def match(words):
 count=0
 for word in words:
    if len(word)>=2 and word [0] == word[-1]:
      count +=1
 return count
print(match(['abc', 'aha', 'aba', '1221']))

3

In [ ]:
#25 There is a walking track of 3 km (roundtrip means 3+3=6km).
'''take input from user no. of days, followed by no of roundtrips in 1 day 
find total distance he covers in m
if round trip:
<40000m need to walk more
>=40000m you done a great job!
'''
d=int(input("Enter number of days: "))
t=int(input("Enter number of roundtrips per day: "))
dist=d*t*6000
print(dist)
if dist<40000:
  print("need to walk more.")
else:
  print("Great job!")

Enter number of days: 3
Enter number of roundtrips per day: 1
18000
need to walk more.

In [ ]:
#26 given list of students names in L and a character, display the names of the students whose first letter is the given character
#Print student_details([]
names = ['Anu','Hemika','Harika','Hema','heena']
first_letters = ['H']
output_names = [name for name in names if (name[0] in first_letters)]
output_names

['Hemika', 'Harika', 'Hema']

In [ ]:
#27 Give a list of city names whose length is greater than a given length 
#str len =3
#print(cityNmes(['Vizag','Agra','Hyderabad','Delhi']))=
test_list = ["Gfg", 'is', "Best", 'for', 'CS', 'Everything']
K = 3
res = ''
for ele in test_list:
    if len(ele) >3 :
        res += ele
print(res ,end=",")

BestEverything,

In [ ]:
#28To find nth value in fibonacci series
def fib(n):
  if n<=0:
    print("Invalid")
  elif n==1:
    return 0
  elif n==2:
    return 1
  else:
    return fib(n-1)+fib(n-2)
print(fib(9))

21