<a href="https://colab.research.google.com/github/HEMIKA-310/Python-practice/blob/Module-1/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#String
add="Hi I'm Hemika ,I come from Gopalapatnam by bus"
print(add)
print ("Hemika "in add)

Hi I'm Hemika ,I come from Gopalapatnam by bus
True

In [ ]:
add =""" Hi I'm Hemika
 I come by bus"""
print(add)
print(len(add))
print("Hemika"in add)
print("Python" in add)

 Hi I'm Hemika
 I come by bus
29
True
False

In [ ]:
#length
add="Hi I'm Hemika ,I come from Gopalapatnam by bus"
print(len(add))

46

In [ ]:
#checking string
add="Hi I'm Hemika ,I come from Gopalapatnam by bus"
print("Hemika"in add)
print("Python" in add)
print("hemika" in add ,"Hemika" in add)

True
False
False True

In [ ]:
#not in
a='''Hello world'''
print("hello"not in a)
print("Hello" not in a)

True
False

In [ ]:
#slicing
add =""" Hi I'm Hemika
 I come by bus"""
print(add[2])
print(add[2:])
print(add[0:])
print(add[-1])
print(add[2:-1])
print(add[:-4])

i
i I'm Hemika
 I come by bus
 Hi I'm Hemika
 I come by bus
s
i I'm Hemika
 I come by bu
 Hi I'm Hemika
 I come by

In [ ]:
#slicing
add =""" Hi I'm Hemika
 I come by bus"""
print(add[3:],add[:-2],add[-5:-2])
print(add[-5:-2])
print(add[-4:])
#to reverse
print(add[::-1])#[::-1] means start at the end of the string and end at position 0, move with the step -1, negative one, which means one step backwards.

 I'm Hemika
 I come by bus  Hi I'm Hemika
 I come by b y b
y b
 bus
sub yb emoc I
akimeH m'I iH

In [ ]:
##Modify strings
a='''  Hello   
w orld '''
# to upper case
print(a.upper())
# to lower case
print(a.lower())
 #to remove space before/after the text
print(a.strip())
# to replace a Letter in a string
print(a.replace( "H","h"))
print(a.replace("l","L"))
print(a.replace("H","Hemika"))
#split
print(a.split(","))#split at ,

  HELLO
W ORLD
  hello
w orld
Hello
w orld
  hello
w orld
  HeLLo
w orLd
  Hemikaello
w orld
['  Hello   \nw orld ']

In [ ]:
#string concatenation
a="Hi"
b='Hemika'
c=a+b
print(c)
print(a + " "+ b)

HiHemika
Hi Hemika

In [ ]:
#Format strings
#format() can be used to combine strings and numbers
name="Hemika"
age=18
result="My name is {} ,and I'm {} years"
print(result.format(name,age))
#using index
result="I'm {1}, my name is {0}"
print(result.format(name,age))

My name is Hemika ,and I'm 18 years
I'm 18, my name is Hemika

In [ ]:
#Escape character 
#\" 
a="1. We are \"playing\"cricket."
print(a)
#\'
a='2. It\'s ok'
print(a)
#	\\	Backslash  to insert one \ 
a="3. hello \\ world"
print(a)
#\n	New Line
a="4. hello \nworld"
print(a)
#\r	Carriage Return	
a="5. hello \rworld"
print(a)
#\t	Tab
a="6. hello \tworld"
print(a)
#\b	Backspace	
a="7. hello \bworld"
print(a)
#\f	Form Feed	
a="8. hello \fworld"
print(a)

1. We are "playing"cricket.
2. It's ok
3. hello \ world
4. hello
world
world
6. hello 	world
7. hello world
8. hello world

In [ ]:
#STRING METHODS - They do not modify a string, they return new values

In [ ]:
#slices problem1
a=input("Enter name ")
print(a[2])
print(a[1:])
print(a[:5])
print(a[0:-2]+"\n")
for i in range (len(a)):
  if(i%2==0):
    print("\b"+a[i])
for i in range (len(a)):
  if(i%2==1):
    print("\b"+a[i])
print(a[::-1])
rev=a[::-1]
for i in range (len(rev)):
  if(i%2==1):
    print("\b"+rev[i])
print(len(a))

Enter name HelloWorld
l
elloWorld
Hello
HelloWor

H
l
o
o
l
e
l
W
r
d
dlroWolleH
l
o
o
l
H
10