<a href="https://colab.research.google.com/github/HEMIKA-310/Python-practice/blob/Module-2/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#tuple
'''ordered and unchangeable(list is changeable); written in round brackets(); allows duplicate values; Mutable(list is immutable); '''
country=("India","USA","UK","Nepal","India")
print(country)
#tuple with one item
'''for one element to be a tuple use ,'''
#tuples are defined as objects with the data type 'tuple'
a=('apple',)
print(type(a))
#tuple constructor: tuple()
t=tuple("a")
print(t)

('India', 'USA', 'UK', 'Nepal', 'India')
<class 'tuple'>
('a',)

In [ ]:
#length
alpha=('a','b','c','d','e','f','g','h','i','j','a','g','h','a')
print((len(alpha)))
#count
print(alpha.count("a"))
#index
print(alpha.index("g"))

14
3
6

In [ ]:
#tuple data types
"""can be string, int, and boolean : all at once"""
t=("a",10+3j,4.5,8,True)
print(t)

('a', (10+3j), 4.5, 8, True)

In [ ]:
#To access tuple items
t=("giraffe","horse","cat","dog","fish","lion",1,2,3,4,5,6)
print(t[0:])
print(t[3:5])
print(t[6:])
print(t[:7])
print(t[:])
"""To check if item exists"""
if 1 in t:
  print("yes")

('giraffe', 'horse', 'cat', 'dog', 'fish', 'lion', 1, 2, 3, 4, 5, 6)
('dog', 'fish')
(1, 2, 3, 4, 5, 6)
('giraffe', 'horse', 'cat', 'dog', 'fish', 'lion', 1)
('giraffe', 'horse', 'cat', 'dog', 'fish', 'lion', 1, 2, 3, 4, 5, 6)
yes

In [ ]:
#to change tuple values
'''You can convert the tuple into a list, change the list, and convert the list back into a tuple.'''
#to change into list use list()
t=("giraffe","horse","cat","dog","fish","lion",1,2,3,4,5,6)
l=list(t)
l[5]="tiger"
t=tuple(l)
print(t)
#to append(as lists are immutable)
t=("giraffe","horse","cat","dog","fish","lion",1,2,3,4,5,6)
l=list(t)
l.append("moon")
#to insert
l.insert(3,"chocolate")
#to remove
l.remove(l[4])
t=tuple(l)
print(l)

('giraffe', 'horse', 'cat', 'dog', 'fish', 'tiger', 1, 2, 3, 4, 5, 6)
['giraffe', 'horse', 'cat', 'chocolate', 'fish', 'lion', 1, 2, 3, 4, 5, 6, 'moon']

https://gitam-2021.github.io/CSEN1021/

In [ ]:
#add tuple to tuple
t1=(1,2,3,"a")
t2=("orange","apple","mango")
t1=t1+t2
print(t1)

(1, 2, 3, 'a', 'orange', 'apple', 'mango')

In [ ]:
#to clear use l.clear()
t=(1,2,3,"a")
l=list(t)
l.clear()
t=tuple(l)
print(t)
#to delete use del()
t=(1,2,3,"a")
l=list(t)
del(l)

()

In [ ]:
#remove duplicate values from a tuple
t=("giraffe","horse","cat","dog","fish","lion",1,2,3,4,5,6,"g","h","g","h","m","m","g","h")
l=list(t)
for i in list(l):
    if i == "m" or i=="g" or i == "h":
        l.remove(i)
t=tuple(l)
print(t)

('giraffe', 'horse', 'cat', 'dog', 'fish', 'lion', 1, 2, 3, 4, 5, 6)

In [ ]:
#upacking a tuple
fruits = ("a", "b", "c")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

a
b
c